.addEmotion{
    padding: 40px 60px;

    .header{
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        flex-wrap: wrap;
        
        h3{
            width: 100%;
        }
    }

    .body{
        form{
            .emotionCirclesWrapper{
                .emotionCirclesWithDescription .emotionCircles form .circleWrapper{
                    height: 60px;
                }
                .emotionCirclesWithDescription .emotionDescription .emotionDescTerrible i{
                    padding-left: 18px;
                    display: block;
                }
                .emotionCirclesWithDescription .emotionDescription .emotionDescOk i{
                    padding-right: 0px;
                    display: block;
                }
                .emotionCirclesWithDescription .emotionDescription .emotionDescOk{
                    transform: translateX(-4px);
                }
                .emotionCirclesWithDescription .emotionDescription .emotionDescPerfect i{
                    padding-right: 18px;
                    display: block;
                }
            }
            .isRelatedWrapper{
                .labelsWrapper{ 

                    label + label{
                        margin-left: 30px;
                    }
                }
                .arrowsWrapper {
                    padding-top: 15px;
                }
            }

            .eventsListWrapper{
                .collapsible{
                    border: none;
                    box-shadow: none;
                    position: relative;

                    .collapsible-header{
                        background: none;
                        width: 140px;
                    }

                    .collapsible-body{
                        position: absolute;
                        top: 0;
                        margin: 0;
                        padding: 0px 20px 10px 25px;
                        left: 160px;
                        border-left: 1px solid #ddd;
                        border-bottom: none;
                    }
                }

                label{
                    display: flex;
                    font-size: inherit;
                    color: inherit;
                }
                .applicationPart{
                    padding: 0 0 10px;

                    ul.eventsList{
                        padding-top: 10px;
                        width: 100%;

                        li{
                            padding: 10px 0;
                        }
                    }

                    input:checked + i{
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    .saveButtonWrapper{
        text-align: center;

        button{
            padding: 0px 40px;
            height: 40px;
        }
    }
}