.productSearch .productSearchFormWrapper{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.productSearch .productSearchFormWrapper .productSearchFieldsWrapper{
    width: calc(100% - 105px);
}