.account{
    padding: 0px 40px;

    .usersData{
        display: flex;
        padding: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .formContentWrapper{
        width: 500px;

    }  
    .formLineBox {
        display: flex;
        width: 100%;
        .labelBox {
            width: 20%;
            display: flex;
            align-items: center;

            label{
                font-size: 15px;

            }
        }
        
        .inputBox {
            width: 80%;
            padding: 0px 10%;

            label.sexLabel + label.sexLabel {
                margin-left: 30px;
            }
        }
    }


    .caloriesDisplayer{
        margin-top: 50px;

        .caloriesRatio{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .numericInputBox{
                width: 32%;

            }
            .goalInputBox{
                margin: 30px 0 30px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                
                label{
                    display: block;
                    width: 32%;
                }
            }
        }
    }

    
}