// Backgrounds
$mainBackground: #f4f7f6;

// Colors
$mainColor: #202121;
$hover_colorOnWhiteBG: #CFD8D8;

// Borders
$borderColor: #7F7F7F;

// Animations
$transition01: all ease-in .1s; 
$transition02: all ease-in .2s; 
$transition03: all ease-in .3s; 
$transition04: all ease-in .4s; 
$transition05: all ease-in .5s; 